*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.containerGeneral{
    display: flex;
    border: solid yellow;
    width: 100%;
    height: 100vh;
}
.navegacion{
    width: 20%;
    border: solid red;
}
.content{
    width: 80%;
    border: solid green;
}